<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catan Board Builder</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/catan_styles.css') }}">
</head>
<body >
    <div class="container">
        <h1 class="text-3xl font-bold text-gray-800 mb-4">Catan Board Viewer</h1>
        <p class="text-gray-600 text-center mb-6">Shows the board for all 4 player</p>

        <div class="controls">
            <div class="button-group" id="tool-select">
                
            </div>
        </div>

        <canvas id="catanBoard"></canvas>
        <div id="messageBox" class="message-box hidden"></div>
    </div>

    <script src="{{ url_for('static', filename='js/catan_board.js') }}">
     window.addEventListener('load', () => {
            loadBoardFromBackend()
        });
    </script>
</body>
</html>
